body{
    font-family: Arial;
    background: linear-gradient(to right,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    background:white;
    padding:30px;
    border-radius:10px;
    width:280px;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:#667eea;
    color:white;
    border:none;
    cursor:pointer;
}

small{
    color:red;
    display:block;
}
